body {background-color: lightblue;
}

nav {
  background-color: yellow;
  height: 9vh;
  padding: 0 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 95vw;
  top: 0;
}

.centerContent {
  display: flex;
  justify-content:space-between;

}

nav div {
  display: inline-block;
}




  nav div a {
    text-decoration: none;
    padding-left: 1.5vw;
